:root{
 --Dark-cyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);
--Very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
}
/*font                      */
@font-face{
    font-family: montserrat, fraunces9pt;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(font/Fraunces9pt-Bold.woff2);
    src: url(font/Fraunces9pt-Bold.woff);

}
@font-face{
font-family: montserrat;
font-weight: 500;
font-style: normal;
font-display: swap;
src: url(font/Montserrat-Regular.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 100px;
    background-color: var(--Cream);
}
h2{
    font-family: fraunces72pt, serif;
}
p{
    font-size: 14px;
}
.card{
    width: 500px;
    height: 100%;
}
.card-container{
    display: flex;
}
.card-img{
    background-image: url(images/image-product-desktop.jpg);
    background-size: cover;
    width: 50%;
    background-position: center center;
    height: auto;
    border-radius: .5rem 0 0 .5rem;

}
.card-info{
width: 50%;
background-color: var(--White);
padding: 2rem;
border-radius: 0 0.5rem 0.5rem 0;
}
.sub-title{
    text-transform: uppercase;
    color: var(--Dark-grayish-blue);
    font-weight: 500;
    letter-spacing: 3px;
}
.title{
    margin: 1rem 0;
}
.info{
    margin-bottom: 1rem;
    color:var(--Dark-grayish-blue);
}
.prices{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 1rem;
}
.prices h2{
    color: var(--Dark-cyan);
}
.prices p{
    text-decoration: line-through;
    color:var(--Dark-grayish-blue) ;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--White);
    border: none;
    border-radius:.5rem;
    padding: .7rem;
    background-color: var(--Dark-cyan);
    gap:.5rem ;
    cursor: pointer;
}
button:hover{
    background-color: var(--Dark-cyan);
}
@media screen and(max-width:550px) {
    .card{
        width: 375px;
    }
    .card-container{
        display: flex;
        align-items: center;
        
    }

    .card-img{
        background-image: url(images/image-product-desktop.jpg);
        background-size: cover;
        width: 100px;
        height: 250px;
        background-position: center center;
        border-radius: .5rem 0 0 .5rem;
        background-repeat: no-repeat;
  }
  .card-info{
    width: 100%;
    }
}